/* Google Fontes */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');
/* CSS Externo */

/* Definir as cores Tema Dark */
/* raiz */
:root,
:root[data-theme='dark'] {
     --cor-fundo: #312e2b;
     --cor-fundo-secundaria: rgb(122, 118, 118);
  --cor-texto: #cfc1b2;
  --cor-menu-link: #6b6158;
  --cor-borda: #837870;
  --cor-hover-icone: #E6B980;

}

/* Fundo Branco */
:root[data-theme='light'] {
     --cor-fundo:  #E8E0D4;
     --cor-fundo-secundaria: rgb(161, 148, 148);
  --cor-texto: #2B2118;
  --cor-menu-link: #5C4033;
  --cor-borda: #66605b;
  --cor-hover-icone: #A47148;
    



}

/* Inverter Cor LOGO = Filtro */
html[data-theme='light'] .logo {
    filter: invert(1);
}



/* Reset CSS = Padronizar */
/* Seletor Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;  
}

body {
    background: var(--cor-fundo);
    /* cor fundo */
    color: var(--cor-texto);
    /* cor TEXTOS */
    font-family:  "Playfair Display", serif;
}

a {
    color: var(--menu-link);
    text-decoration: none;
}

ul {
    list-style: none;
    /* Estilo de Lista */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--cor-fundo);
    border-bottom: 2px solid var(--cor-borda);
    position: fixed;
    /* Voltar */
    z-index: 9999;
    /* Camadas */
    padding: 5rem 1rem;
}

.menu-desktop {
    background: var(--cor-fundo);
    display: none;
    /* esconde o menu desktop */

}

/* NAV = UL // OL */
.menu {
    display: flex;
    /* em linha // horizontal */
    gap: 1rem;
    /* 16px */
    align-items: center;
}

/* LI = listas */
.menu-item {
    width: 100%;
}

.menu-link {
    display: flex;
    align-items: center;
}

.menu-text {
    color: var(--menu-link);
    font-size: 1.6rem;
    text-transform: uppercase;
}

/*--- Menu Hamburger
botao menu mobile  ----- */

#menuHamburger {
    margin-left: 1rem;
}

.btn-menu-mobile {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--cor-texto);
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.menu-mobile {
    /* NAV */
    position: fixed;
    top: 0;
    right: 0;
    background: var(--cor-fundo);
    width: 75%;
    height: 100vh;
    /* viewPort Altura */
    border-left: 1px solid var(--cor-borda);
    max-width: 320px;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    transition: .3s ease-in-out;
    /* voltar aqui */
    transform: translateX(100%);
}

/* Ativar o Menu Mobile */
.menu-mobile.active {
    transform: translateX(0%);
}

.menu-mobile
/* nav */
.menu-list

/* UL */
    {
    display: flex;
    flex-direction: column;
    /* EIXO Y = Vertical */
    gap: 1rem;
    width: 100%;
    padding: 1rem 1rem 2rem;
}

.menu-mobile .menu-item {
    width: 100%;
    text-align: center;
}

.menu-mobile .menu-link {
    padding: 0.5rem 0;
    display: inline-block;
    font-size: 1rem;
}

.logo {
    width: 3.25rem;
    /* comprimento */
    height: auto;
    /* altura */
}

.header-toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.6rem;
}

#home {
    padding: 4.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 2,5rem;
}

h1 {
    font-size: 3.5rem; /* 35px */
    font-family:  "Dancing Script", cursive;
}

h2 {
    font-family:  "Dancing Script", cursive;
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: 0rem;
    letter-spacing: 2px;
    font-weight: 600;
}

h3 {
    font-size: 1.55rem;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    /* font-style: normal; */
}

p {
    font-size: 1.8rem; /* igual a 18px */
}
    

.video iframe {
    aspect-ratio: 16/9;
}

#home,
.projetos,
.sobre,
.contato {
    padding: 2.5rem 1rem;
}

.descricao-video {
    display: flex;
    flex-direction: column;
    background: #D6CFC7;
    padding: 6.25rem 1rem 2rem;
    align-items: center;
    justify-content: flex-start;
    margin-top: -6.5rem;
}

.descricao-video h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-top: -2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* letter-spacing: ; */
}

.projetos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projetos-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.projeto-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.img-card {
    width: 100%;
    border-radius: .5rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

/* H3  */
.card-titulo {
    color: var(--cor-texto);
    /* Cor do Texto */
    font-size: 2.4rem; /* 24px */
    /* Tamanho texto */
    font-weight: 400;
    /* largura das letras */
    font-family: "Inter", sans-serif;
    /* Estilo das fontes */
    
}

.card-descricao {
    color: var(--cor-texto);
    font-family: "Inter", sans-serif;
}

.card-item {
    margin-bottom: .8rem;
    font-size: 1.6rem;
}

.card-item i {
    margin-right: 8px;
    font-size: 1.9rem;
}

.card-item i:hover {
    color: var(--cor-hover-icone);
    transition: .5s ease-in-out;
}

.redes-sociais {
    font-size: 1.8rem; /* virou 18px */
}


.redes-sociais i:hover {
     color: var(--cor-hover-icone);
    transition: .5s ease-in-out;
}

.redes-sociais .instagram:hover {
    color: #E1306C;
    font-size: 1rem;
}

.redes-sociais .github:hover {
    color:  #333333;
    font-size: 1rem;
}

.redes-sociais .facebook:hover {
    color:  #1877F2;
    font-size: 1rem;
}

.redes-sociais .telegram:hover {
    color:  #0088cc;
    font-size: 1rem;
}

  /* sobre */

.sobre{
    flex-direction: column;
    gap: 1.5rem;
}
/* foto retangular */
.sobre-logo {
    width: 100%;
    border-radius: 50%;
    border: 2px solid red;
    border: 2px solid var(--cor-borda);
}

.sobre-descricao p {
    text-align: justify;
    font-size: 1.8rem;
}

/* footer */
footer {
    /* background: var(--cor-fundo-secundaria); */

    border-top: 1px solid var(--cor-borda);
}

footer p {
    padding: 1.2rem 6rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
}

footer i {
    color: #9e6739;
}

footer a {
    color: #9e6739;
}

/* hover e sempre que passar o mouse por cima */
footer a:hover {
color: #9e6739;
transition: all 0.3s ease-in-out;
}

/* Medidas Responsivas */
@media (min-width: 768px) {

    .menu-desktop {
        display: flex;
        min-width: 30%;
        /* alinhar o logo */
    }

    .btn-menu-mobile {
        display: none;
    }

    .header-toggle {
        min-width: 30%;
        /* alinhar o logo */
    }

    header {
        padding: 1rem 6rem;
    }

    h1 {
        font-size: 5.2rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    #home,
    .projetos,
    .sobre {
        padding: 8rem 6rem 4rem 6rem;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* FIM min 768px */

@media (min-width: 992px) {
    
    p {
        font-size: 1.8rem;
    }

    .projeto-card {
        flex-direction: row;
    }

    .img-card {
        /* tamanho das fotos */
        width: 45%;
    }
       
    
    
    
    
 .reverse-card {
        /* Espelhar */
        flex-direction: row-reverse;
    }

}

@media (min-width: 1200px) {
    h2 {
        font-size: 4.5rem;
    }
}


@media (min-width: 1400px) {
    h1 {
        font-size: 7.5rem;
    }

    h2 {
        font-size: 5.5rem;
    }

    h3 {
        font-size: 4rem;
    }

    .descricao-video,
    .projetos,
    .sobre {
        padding: 10rem 15rem 4rem;
    }

}