body {
    background: #272626;
    color: #d7d7d7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  

a{
    color: #d7d7d7;
    text-decoration: none;
}


ul{
     list-style: none;  /* estilo de lista */
}
